.all-cards-container {
    margin-top: 0;
}

.all-cards-container .panel-body{
    padding: 1px;
}


.card {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #eee!important;
    padding: 10px;
    margin: 6px 3px;
    position: relative;
    background-color: #fff;
    z-index: 0;
    border-radius: 4px;
    width: 228px;
}

.card .image img{
  width: 200px;
  height: 200px;
}